/*-- scss:defaults --*/
$primary: #3eb489;
$font-family-sans-serif: "Pretendard", "Helvetica Neue", Helvetica, Arial, sans-serif;

/*-- scss:uses --*/
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard-dynamic-subset.min.css");

/*-- scss:rules --*/
body {
  font-family: $font-family-sans-serif;
}

.navbar {
  background-color: #1a1a2e !important;
}

.navbar .nav-link:hover {
  color: $primary !important;
}
